
.calendar-container{
	position:relative;
	width:80%;
}

.calendar-header{
	width:100%;
	display: table;
	background-color:#d0a76a;
	color:white;
	padding:10px;
	
}

.calendar-header-content{
	display:table-row;
}


.month-header{
	display:table-cell;
	width:70%;
	font-size:150%;
}

.year-header{
	display:table-cell;
	width:20%;
	font-size:150%;
}


.calendar-body{
	width:100%;
	position:relative;
}

.calendar-body-table{
	width:100%;
}

.calendar-body-row{
	width:100%;
	display:table-row;
}

.calendar-body-cell {
	background-color: #dbe4c4;
	padding: 15px;
	position: relative;
	font-size: 20px;
	height:50px;
}

.lastmonth{
	background-color:#80808047 !important;
	color:gray;	
}

.today{
	background-color:black !important;
	color: white !important;
}

.calendar-day{
	background-color:white;
	color:blue;
}


* {
	box-sizing: border-box;
}
body {
	font-family: "Comfortaa", sans-serif;
}





.month {
	background: var(--color);
	font: 900 75px "Montserrat", sans-serif;
	text-transform: uppercase;
	padding: 40px 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
	&--feb {
		grid-column: span 3;
	}
	&--mar {
		grid-column: span 2;
	}
	&--title {
		grid-column: span 6;
		text-align: right;
		padding-right: 60px;
	}
}

.calendar-content {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: repeat(10, 170px) 80px;
	grid-template-columns: repeat(7, minmax(170px, 1fr));
}

.event {
	z-index: 10;
	background: transparent;
	padding-top: 40px;
	&__name {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 20px;
		height: auto;
		padding: 10px;
		margin: 10px;
		font-size: 14px;
	}
	&--1 {
		grid-column: 3 / span 2;
		grid-row: 3;
	}
	&--2 {
		grid-column: 4 / span 3;
		grid-row: 3;
		padding-top: 85px;
	}
	&--3 {
		grid-column: 2;
		grid-row: 6;
	}
	&--4a {
		grid-column: 7;
		grid-row: 7;
		.event__name {
			border-radius: 20px 0 0 20px;
		}
	}
	&--4b {
		grid-column: 1 / span 2;
		grid-row: 8;
		.event__name {
			border-radius: 0 20px 20px 0;
		}
	}
	&--5 {
		grid-column: 5;
		grid-row: 9;
	}
}

//events

div.date {
	&:nth-child(15) {
		grid-column: 3;
		grid-row: 3;
	}
	&:nth-child(16) {
		grid-column: 4;
		grid-row: 3;
	}
	&:nth-child(17) {
		grid-column: 5;
		grid-row: 3;
	}
	&:nth-child(18) {
		grid-column: 6;
		grid-row: 3;
	}
	&:nth-child(34) {
		grid-column: 2;
		grid-row: 6;
	}
	&:nth-child(46) {
		grid-column: 7;
		grid-row: 7;
	}
	&:nth-child(47) {
		grid-column: 1;
		grid-row: 8;
	}
	&:nth-child(48) {
		grid-column: 2;
		grid-row: 8;
	}
	&:nth-child(58) {
		grid-column: 5;
		grid-row: 9;
	}
}


